.wrapperMe{
    background-color: azure;
    border: 1px solid #6060f7;
    color: #6060f7;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    align-self: flex-start;
    margin: 2px 0;
}
.wrapper{
    background-color: azure;
    border: 1px solid #6060f7;
    color: #6060f7;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    align-self: flex-end;
    margin: 2px 0;
}